<font size="7" color="red"><b>ch02. 자료형과 연산자</b></font>

# 1절. 변수
## 1.1 변수선언
    - 별도의 변수 선언과정 없음
## 1.2 변수 할당
    - 대입연산자(=) 사용

In [7]:
import numpy as np
print('제공되는 pi값은', np.pi)
r = 5
area = np.pi * r * r
# printf("계산된 넓이는 %lf", area)
print("계산된 넓이는", area)
print('area타입은', type(area) )
print('area 주소는', id(area))

제공되는 pi값은 3.141592653589793
계산된 넓이는 78.53981633974483
area타입은 <class 'float'>
area 주소는 1273592635920

In [8]:
area = 10
print("area 값은", area)
print('area타입은', type(area) )
print('area 주소는', id(area))

area 값은 10
area타입은 <class 'int'>
area 주소는 140727940924488

In [9]:
area = '파이썬은 좋아요'
print("area 값은", area)
print('area타입은', type(area) )
print('area 주소는', id(area))

area 값은 파이썬은 좋아요
area타입은 <class 'str'>
area 주소는 1273563428880

## 1.3 변수이름 규칙
    - 문자(특수문자는 _제외하고 안됨), 숫자, _로 명명.
    - 문자로 시작
    - 파이썬에서 제공되는 기본 함수명 피하자. 꼭 써야한다면 int_식으로 _를 붙임
    - 파이썬 예약어는 변수명 불가(ex. if)

In [10]:
불용어 = '북한'
불용어

'북한'

In [11]:
if = 4

SyntaxError: invalid syntax (1720054281.py, line 1)

In [12]:
print(불용어)

북한

In [18]:
# 파이썬 변수는 함수 할당
print = 5

In [19]:
print(불용어)

TypeError: 'int' object is not callable

In [20]:
del print # print 변수 삭제

In [21]:
print(불용어)

북한

In [22]:
i = 3 + 3j # 복소수
type(i)

complex

In [23]:
a = 10
b = 20

In [24]:
a, b = 10, 20 # 다중 선언

In [25]:
a, b

(10, 20)

In [26]:
a, b = b, a+b # 다중 선언
print('a=',a,'\t b=', b)

a= 20 	 b= 30

## 1.4 도움말

In [27]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [28]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [30]:
# 도움말 기능 : 함수내에서 shift+tab키
print('a','b', sep='~')

a~b

In [31]:
def make_number(x, y=0):
    """doc string(함수의 도움말)
    매개변수 2개를 이용해서 2자리 정수를 만들어요
    x = 10의 자리수
    y = 1의 자리수 (default값 0)
    """
    return x*10 + y

In [32]:
make_number(3, 2)

32

In [33]:
make_number(5)

50

In [34]:
make = make_number # 함수를 변수에 할당

In [35]:
make(6)

60

## 1.5 변수 삭제

In [36]:
del make

In [73]:
make(6)

NameError: name 'make' is not defined

# 2절. 화면 I/O

In [44]:
first = int(input('첫번째 숫자는?')) # 문자로 return
second = int(input('두번째 숫자는?'))

첫번째 숫자는? 20
두번째 숫자는? 1

In [45]:
print('두수의 합은 {}'.format(first+second)) #문자+문자

두수의 합은 21

In [48]:
print('Hello', 'world', sep='~', end=', ')
print('Hello', 'Python')

Hello~world, Hello Python

# 3절. 기본 자료형

## 3.1 숫자형

In [43]:
import sys
print(sys.maxsize) # 모든 크기의 정수를 다 처리 가능

9223372036854775807

In [44]:
a = sys.maxsize + 10
print("값 : {} / 주소 : {}".format(a, id(a)))
print(type(a))

값 : 9223372036854775817 / 주소 : 2005205100048
<class 'int'>

In [45]:
a = 1
print("값 : {} / 주소 : {}".format(a, id(a)))
print(type(a))

값 : 1 / 주소 : 140732690187048
<class 'int'>

In [48]:
a = 3/2 # 정수형 / 정수형 => 실수형(float)
print("값 : {} / 주소 : {}".format(a, id(a)))
print(type(a))

값 : 1.5 / 주소 : 2005155230064
<class 'float'>

In [50]:
a = int(3/2) # 명시적인 형변환
a = 3 // 2 # 몫을 가져오는 연산자
print("값 : {} / 주소 : {}".format(a, id(a)))
print(type(a))

값 : 1 / 주소 : 140732690187048
<class 'int'>

In [53]:
# 지수형 표현
f = 1.12e20 # 1.12의 10의 20승
print(f)

f = 1.12e-20 # 1.12의 10의 -20승
print(f)

1.12e+20
1.12e-20

## 3.2 문자형

In [55]:
name = "홍길동'님'"
name = '홍길동"님"'
address = "서울시 \"금천구\" \
가산디지털1로"
# \ 다음줄로 계속
print(name, address)

홍길동"님" 서울시 "금천구" 가산디지털1로

In [56]:
text = "안녕하세요\n홍길동입니다\n반갑습니다."
print(text)

안녕하세요
홍길동입니다
반갑습니다.

In [58]:
text = """안녕하세요
홍길동입니다
반갑습니다
"""
print(text)

안녕하세요
홍길동입니다
반갑습니다

In [59]:
# 문자열 슬라이싱
str_ = "0123456789"
str_

'0123456789'

In [60]:
str_[0:3] # 0번째 인덱스'부터' 3번째 '앞'까지

'012'

In [64]:
str_[-2] # 음수 인덱스는 뒤어세 부터 인덱스 '번째' 숫자

'8'

In [63]:
str_[-5:-1]

'5678'

In [65]:
str_[5:] # 5번째 인덱스부터 끝까지

'56789'

In [66]:
str_[:-5] # 처음부터 -5번째 '앞'까지

'01234'

In [67]:
# str_[19] => error
str_[5:19] # 슬라이싱은 인덱스를 벗어나면 끝까지 출력함

'56789'

In [70]:
# str_[from:to:step]
print(str_[0:9:2]) # 0번째 부터 9번째 앞까지 2씩 인덱스 증가
print(str_[::2]) # 처음부터 끝까지 2씩 인덱스 증가

02468
02468

In [72]:
# 끝부터 처음까지(거꾸로)
print(str_[9::-1])
print(str_[::-1])

9876543210
9876543210

## 3.2 논리형

In [74]:
a = True
print(a)
print(type(a))
print(isinstance(a, bool)) # a가 boolean type의 객체냐?

True
<class 'bool'>
True

In [76]:
# False로 간주하는 것 : 0, None, "", '', [], (), {}
# True로 간주하는 것 : " ", '\0'(null문자)

In [77]:
if 0+0j:
    print('True')
else:
    print('False')

False

## 3.4 자료형 확인 및 변환
    - tpye() : 자료형 확인
    - int() : 정수형 변환
    - float() : 실수형 변환
    - str() : 문자형 변환
    - bool() : boolean형 변환

In [78]:
int(' ')

ValueError: invalid literal for int() with base 10: ' '

In [79]:
int('2,000')

ValueError: invalid literal for int() with base 10: '2,000'

In [81]:
float(True)
float(False)

0.0

# 4절. 포맷팅

In [84]:
name = "홍길동"
add = '서울시 금천구'
print("이름은 {1:10}, 주소는 {0}".format(add, name))

이름은 홍길동       , 주소는 서울시 금천구

In [85]:
print("이름은 %s, 주소는 %s"%(name, add))

이름은 홍길동, 주소는 서울시 금천구

In [87]:
print(f"이름은 {name}, 주소는 {add}")

이름은 홍길동, 주소는 서울시 금천구

format()함수
- "{[인덱스]:[공백대체문자][정렬방법][자릿수][타입]}".foramt(변수명,...)
```
    - 정렬방법 : <(왼쪽정렬), >(오른쪽정렬), ^(가운데정렬)
    - 타입 : d(10진수), x(16진수), b(2진수), f(실수), s(문자)
```

In [91]:
a = 10
s = 'Hello'
print(" [{0:$>10d}], [{1:*<20.2}]".format(a, s))

 [$$$$$$$$10], [He******************]

# 5절. 연산자

## 5.1 산술연산자 : + - / * //(몫) %(나머지) **(제곱)

## 5.2 할당연산자 : = += -= /= %=, ...

## 5.3 논리연산자 : & snd | or not (연산자 우선순위가 높음)

## 5.4 비트연산자 : & | ^ (연산자 우선순위가 높음)

In [92]:
print( (10>3) & (10>5) ) # 논리연산자 true & False가 앞 뒤에 올 때

True

In [93]:
print( 12 & 1 ) # 비트연산 12 : 1 1 0 0
                #          1 : 0 0 0 1
print( 12 | 1 )

0
13

## 5.5 비교연산자 : > < >= <= == !=

In [94]:
'아' < '하'

True

In [97]:
'*' < '1' < 'A' < 'a' #  코드 순 : 특수문자 < 숫자 < 대문자 < 소문자

True

In [96]:
score = 85
80 <= score < 90 < 100

True

# 6절. 문자열 다루기
    - 문자열 슬라이싱 : 문자변수[from:to:step]
    - len(문자열) : 문자갯수
    - 문자열.upper() : 대문자
    - 문자열.lower() : 소문자
    - 문자열.title() : 앞글자만 대문자로
    - 문자열.capitalize() : 첫문자만 대문자로. 그 외는 소문자
    - count('찾을문자열') : 찾을 문자열이 몇개 들어있는지 갯수 반환
    - find('찾을문자열') : 찾을 문자열의 왼쪽부터 몇번째 인덱스인지 index반환
                            없으면 -1 반환
    - rfind('찾을문자열') : 찾을 문자열의 오른쪽부터 몇번째 인덱스인지 index반환
    - startswith('찾을문자열') : 특정문자열로 시작되는지 true, false 반환
    - endswith('찾을문자열') : 특정문자열로 끝나는지 true, false 반환
    - 문자열.strip() : 좌우 공백 제거
    - 문자열.lstrip() : 좌 공백 제거
    - 문자열.rstrip() : 우 공백 제거
    - isdigit() : 문자열이 숫자 문자열인지 T/F 반환
    - islower() : 문자열이 소문자인지 T/F 반환
    - isupper() : 문자열이 대문자인지 T/F 반환
    - replace(oldStr, newStr) : oldStr을 newStr로 변경

In [99]:
# 문자열을 다룰 수 있는 함수 목록
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [98]:
temp = 'Python is easy. Python is smart.'
temp.upper() # temp가 가리키는 주소에 가면 문자열과 적용된 함수가 함께 있음
len(temp)

'PYTHON ID EASY. PYTHON IS SMART.'

In [100]:
print("첫번째 글자:{}, 마지막글자:{}".format(temp[0], temp[-1]))

첫번째 글자:P, 마지막글자:.

In [106]:
print('대문자로:',temp.upper())
print('첫글자만대문자:',temp.capitalize())
print('title:',temp.title())
print('count:',temp.count('Python'))
print('find:',temp.find('Python'))
print('rfind:',temp.rfind('Python'))
print('replace:',temp.replace('Python', ''))
print('startswith:',temp.startswith('Py'))

대문자로: PYTHON ID EASY. PYTHON IS SMART.
첫글자만대문자: Python id easy. python is smart.
title: Python Id Easy. Python Is Smart.
count: 2
find: 0
rfind: 16
replace:  id easy.  is smart.
startswith: True

In [107]:
temp = "            Python              "
print("temp : [{}]".format(temp))
print("strip : [{}]".format(temp.strip()))
print("lstrip : [{}]".format(temp.lstrip()))
print("rstrip : [{}]".format(temp.rstrip()))

temp : [            Python              ]
strip : [Python]
lstrip : [Python              ]
rstrip : [            Python]

In [109]:
temp = 'Python is easy. Python is smart.'
print('space단위로 분리하여 list로 반환 :', temp.split())

space단위로 분리하여 list로 반환 : ['Python is easy', ' Python is smart', '']

In [113]:
temp = 'Python-is-easy-Python-is-smart.'
temp_split =  temp.split(sep = '-')
temp_split = '~'.join(temp_split)
print('space단위로 분리하여 list로 반환 :', temp_split)

space단위로 분리하여 list로 반환 : Python~is~easy~Python~is~smart.

# 7절. 날짜 다루기

## 7.1 날짜

In [114]:
from datetime import date
someday = date(2024, 5, 30)
someday

datetime.date(2024, 5, 30)

In [117]:
print("{:%Y년%m월%d일 %H시 %M분}".format(someday))

2024년05월30일 00시 00분

## 7.2 시간

In [119]:
from datetime import datetime
now = datetime.today()
print("{:%Y년%m월%d일 %H시 %M분}".format(now))

2024년05월30일 12시 48분

# 8절. 연습문제

In [121]:
# 8-1
name = input("이름 >> ")
age = int(input("나이 >> "))

이름 >>  홍길동
나이 >>  18

In [124]:
print("{}님의 나이는{}입니다.".format(name, age))

홍길동님의 나이는18입니다.

In [150]:
# 8-2
a = int(input("정수1 >> "))
b = int(input("정수2 >> "))

정수1 >>  10
정수2 >>  0

In [151]:
print(int(a + b))
print(int(a - b))
print(int(a*b))
try:
    print(float(a/b))
    print(int(a//b))
    print(int(a%b))
except:
    print("두번째 정수에 0을 기입하지 마세요.")

10
10
0
두번째 정수에 0을 기입하지 마세요.

In [152]:
# 8-3
str_ = "Hello World"
print(str_[6:] + ' ' + str_[0:5])
str_ = "Hello World"
split_str_ = str_.split()
print(split_str_[1], split_str_[0])

World Hello
World Hello

In [165]:
# 8-4
x = 'abcdef'
print(x[1:], x[0], sep='')

bcdefa

In [156]:
# 8-5
x = 'abcdef'
print(x[::-1])

fedcba

In [164]:
# 8-6
# 6.섭씨온도로 입력받아 화씨 온도로 변환
c = int(input('섭씨 온도를 입력하세요'))
f = (c*1.8)+32
if f==round(f):
    print('섭씨 {}도는 화씨온도로 바꾸면 {:.0f}도입니다'.format(c, f))
else:
    print('섭씨 {}도는 화씨온도로 바꾸면 {:.2f}도입니다'.format(c, f))

섭씨 온도를 입력하세요 12

섭씨 12도는 화씨온도로 바꾸면 53.60도입니다