<font size ="7" color="red"><b>ch03. 데이터 구조</b></font>

- 리스트 [], 튜플 (), 딕셔너리{구조체와 유사}, 셋(집합)

# 1절. 리스트

## 1.1 리스트 만들기
- []이용
- 인덱스 :0부터 시작. -1은 맨 마지막 인덱스
- 슬라이싱([from:to:step]이용하여 추출)

In [9]:
fruits = ['banana', 'apple', 'orange', 'grape', 0]
type(fruits)

list

In [10]:
print(fruits)
print(fruits[4])

['banana', 'apple', 'orange', 'grape', 0]
0

In [11]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape', 0]

In [13]:
for fruit in fruits: # 인덱스가 필요 없을 때
    print(fruit)

mango
apple
orange
grape
0

In [19]:
range(5)

range(0, 5)

In [20]:
list(range(5))

[0, 1, 2, 3, 4]

In [21]:
list(range(len(fruits)))

[0, 1, 2, 3, 4]

In [23]:
for i in list(range(len(fruits))): # 인덱스가 필요할 때
    print("{}번째 요소는 {}입니다.".format(i, fruits[i]))

0번째 요소는 mango입니다.
1번째 요소는 apple입니다.
2번째 요소는 orange입니다.
3번째 요소는 grape입니다.
4번째 요소는 0입니다.

In [24]:
for idx, value in enumerate(fruits): # 인덱스가 필요할 때 <= 이 방법을 가장 많이 씀
    print("{}번째 요소는 {}입니다.".format(idx, value))

0번째 요소는 mango입니다.
1번째 요소는 apple입니다.
2번째 요소는 orange입니다.
3번째 요소는 grape입니다.
4번째 요소는 0입니다.

## 1.2 기본정보 조회

In [27]:
numbers = [1, 2, 3, 4, 5]
print("요소의 수 : ", len(numbers))
print("최대값 : ", max(numbers))
print("최소값 : ", min(numbers))

요소의 수 :  5
최대값 :  5
최소값 :  1

In [ ]:
# + 두 리스트를 연결
# 리스트 * N : 리스트를 N만큼 반복
# append() : 요소 뒤에 추가
# extend() : 리스트의 요소별로 뒤에 추가

In [29]:
numbers = [1, 2, 3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [33]:
numbers = [1, 2, 3]
print(numbers * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [34]:
numbers.append(4)
numbers

[1, 2, 3, 4]

In [37]:
numbers = [1, 2, 3, 4]
num = [5, 6]
numbers.append(num) # [1, 2, 3, 4, [5, 6]]
numbers

[1, 2, 3, 4, [5, 6]]

In [41]:
numbers = [1, 2, 3, 4]
num = [5, 6]
numbers.extend(num) # [1, 2, 3, 4, 5, 6]
numbers

[1, 2, 3, 4, 5, 6]

In [40]:
numbers = [1, 2, 3, 4]
num = [5, 6]
numbers = numbers + num # [1, 2, 3, 4, 5, 6]
numbers

[1, 2, 3, 4, 5, 6]

In [42]:
numbers = [1, 2, 3, 4]
numbers.append("hello")
numbers

[1, 2, 3, 4, 'hello']

In [43]:
numbers = [1, 2, 3, 4]
numbers.extend("hello")
numbers

[1, 2, 3, 4, 'h', 'e', 'l', 'l', 'o']

## 1.4 인덱싱
- index(찾고자 하는 값, 1) : 찾고자하는 값을 1번 인덱스부터 찾아 그 위치 반환
- count(찾고자 하는 값) : 찾고자하는 값이 몇번 나오는지 count 반환

In [46]:
numbers =[1,2,3, [1,2,3], 1,2,3]
print("2가 몇개인지 : {}".format(numbers.count(2)))
print("4가 몇개인지 : {}".format(numbers.count(4)))

2가 몇개인지 : 2
4가 몇개인지 : 0

In [47]:
2 in numbers

True

In [49]:
numbers.index(2, 3) # 3번째 인덱스부터 2가 처음 나오는 인덱스 반환

5

## 1.5 리스트의 원하는 내용만 추출하기

- 슬라이싱[from:to:step] ; 원하는 인덱스의 값 추출
- 리스트 컴프리헨션 ; 원하는 데이터만 추출

In [52]:
numbers = [1,3,5,9,10,12,13,18,19,20]
numbers[::-1]

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]

In [53]:
numbers[::2]

[1, 5, 10, 13, 19]

In [54]:
# 값이 짝수인 데이터만 추출
result = []
for num in numbers: # [1,3,5,9,10,12,13,18,19,20]
    if num%2 == 0:
        result.append(num)
result

[10, 12, 18, 20]

In [55]:
# 리스트 컴프리헨션
result = [num for num in numbers if num%2 == 0]
result

[10, 12, 18, 20]

In [57]:
# numbers 리스트의 제곱값을 리스트로 생성하여라
numbers = [1, 3, 5]
result = [num**2 for num in numbers]
result

[1, 9, 25]

In [60]:
# 과일의 글자가 5글자 이상인 과일을 추출하세요
fruits = ['banana', 'apple', 'orange', 'grape', 'kiwi']
result = [fruit for fruit in fruits if len(fruit) >= 5]
result

['banana', 'apple', 'orange', 'grape']

In [61]:
# 과일의 글자가 5글자 이상인 과일의 글자수 추출하세요
fruits = ['banana', 'apple', 'orange', 'grape', 'kiwi']
result = [len(fruit) for fruit in fruits if len(fruit) >= 5]
result

[6, 5, 6, 5]

## 1.6 삭제하기
- remove(data) : 리스트에서 해당 data가 제거
- del 리스트[idx] : idx번째 요소 제거
- pop() : 리스트의 가장 마지막 인덱스 요소가 return되고 삭제

In [64]:
numbers = [1, 2, 3, 4]
print(numbers.pop())
numbers

4

[1, 2, 3]

In [65]:
numbers.remove(1) # 없는 data remove 시 error
numbers

[2, 3]

In [66]:
del numbers[0]
numbers

[3]

In [70]:
del numbers # 리스트 자체를 메모리에서 제거

NameError: name 'numbers' is not defined

## 1.7 정렬하기

In [75]:
numbers = [9, 10, 1, 5, 5]
numbers.sort(reverse = True) # 내림차순
# numbers.sort() # 오름차순
numbers

[10, 9, 5, 5, 1]

## 1.8 리스트 복제

In [80]:
numbers = [6, 1, 2]
new_numbers = numbers # 얕은 복사 : 주소만 복사함
numbers.sort()
print("정렬 전 데이터 :", new_numbers)
print("정렬 후 데이터 :", numbers)

정렬 전 데이터 : [1, 2, 6]
정렬 후 데이터 : [1, 2, 6]

In [82]:
numbers = [6, 1, 2]
new_numbers = numbers.copy() # 깊은 복사 : 새로운 주소에 데이터를 저장함 (독립된 데이터)
numbers.sort()
print("정렬 전 데이터 :", new_numbers)
print("정렬 후 데이터 :", numbers)

정렬 전 데이터 : [6, 1, 2]
정렬 후 데이터 : [1, 2, 6]

# 2절. 튜플

- 리스트와 유사하지만 읽기 전용
- () 이용해서 생성

In [83]:
city = ('서울', '부산', '광주', '대전')
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '광주', '대전')

In [84]:
'~'.join(city)

'서울~부산~광주~대전'

In [90]:
list_ = ['서울']
type(list_)

list

In [88]:
t = ('서울', ) # 요소가 하나인 튜플은 ,가 꼭 필요함 (안쓰면 str)
type(t)

tuple

# 3절. 딕셔너리

- 구조체와 유사 (데이터 추가 가능함)
- {}를 이용해서 생성. key-value의 쌍으로 구성
- key는 중복될 수 없음, value는 중복 가능.
- index를 이용한 참조 불가

In [93]:
dic = {'name':'홍길동', 'address':'서울시 금천구'}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 'address': '서울시 금천구'}

In [98]:
dic['name'], dic['address']

('홍길동', '서울시 금천구')

In [99]:
dic['score']

KeyError: 'score'

In [100]:
dic.get('name'), dic.get('address'), dic.get('score')

('홍길동', '서울시 금천구', None)

In [102]:
# 수정
dic['score'] = 100
dic['sport'] = 'sleep'
print(dic)

{'name': '홍길동', 'address': '서울시 금천구', 'score': 100, 'sport': 'sleep'}

In [103]:
dic.pop('sport')
print(dic)

{'name': '홍길동', 'address': '서울시 금천구', 'score': 100}

In [107]:
# 리스트(튜플, 셋)방식으로 for문을 사용하면 key만 출력
for data in dic:
    print(data)

for idx, data in enumerate(dic):
    print(idx, data)

name
address
score
0 name
1 address
2 score

In [108]:
dic.keys()

dict_keys(['name', 'address', 'score'])

In [109]:
dic.values()

dict_values(['홍길동', '서울시 금천구', 100])

In [111]:
dic.items() # key-value 가 튜플형태로 묶인 리스트 반환!!!!!

dict_items([('name', '홍길동'), ('address', '서울시 금천구'), ('score', 100)])

In [112]:
for data in dic.values():
     print(data)

홍길동
서울시 금천구
100

In [113]:
for key, value in dic.items():
    print(key, value)

name 홍길동
address 서울시 금천구
score 100

In [114]:
l = ['a','b','c']
'c' in l

True

In [115]:
dic = {'name': '홍길동', 'score': 100}
'name' in dic

True

In [116]:
'홍길동' in dic

False

In [118]:
len(dic) # data 갯수

2

# 4절. 셋

- 중복을 허용하지 않는 리스트(순서x = index가 존재x)

In [125]:
fruits = {'apple','orange', 'banana', 'banana', 0, 0}
print(fruits)
print(type(fruits))

{'apple', 0, 'orange', 'banana'}
<class 'set'>

In [126]:
fruits.add('kiwi')
print(fruits)

{0, 'orange', 'kiwi', 'banana', 'apple'}

In [127]:
fruits.add('banana')
print(fruits)

{0, 'orange', 'kiwi', 'banana', 'apple'}

In [128]:
for i, value in enumerate(fruits): # index가 의미가 없음
    print("{}, {}".format(i, value))

0, 0
1, orange
2, kiwi
3, banana
4, apple

In [129]:
for data in fruits:
    print(data)

0
orange
kiwi
banana
apple

# 5절. 연습문제

In [2]:
# 5.1
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.append(100)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [3]:
# 5.2
data = [200, 300, 400, 500]
numbers = numbers + data
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

In [4]:
# 5.3
print(numbers[0:5])

[1, 2, 3, 4, 5]

In [5]:
# 5.4
print(numbers[1::2])

[2, 4, 6, 8, 10, 200, 400]

In [6]:
for idx, value in enumerate(numbers):
    if (idx + 1)%2 == 0 :
        numbers[idx] = 0
print(numbers)

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0, 100, 0, 300, 0, 500]

In [7]:
print('6번 결과 :', numbers[::-1])

6번 결과 : [500, 0, 300, 0, 100, 0, 9, 0, 7, 0, 5, 0, 3, 0, 1]

In [8]:
member = {'name':"홍길동","age":20,"address":"서울시 금천구", 'score':90}
# 7번 address값 출력
print('7번 결과 :', member['address'])
print('7번 결과 :', member.get('address'))
# 8 score를 출력하고 딕셔너리에서 삭제 방법1
# print(member['score'])
# del member['score'] del은 삭제만 되고 pop는 출력되고 삭제됨
print('8번 score 삭제 ', member.pop('score'))
print('8번 삭제 확인 : ', member)
#9. address변경
member['address'] ='서울시 마포구'
print('9번 확인 :', member)
# 10 데이터 값만 리스트로 출력
print('10번 결과 :',list(member.values()))

7번 결과 : 서울시 금천구
7번 결과 : 서울시 금천구
8번 score 삭제  90
8번 삭제 확인 :  {'name': '홍길동', 'age': 20, 'address': '서울시 금천구'}
9번 확인 : {'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}
10번 결과 : ['홍길동', 20, '서울시 마포구']