<font size = '7' color = 'red'><b>ch05. 함수</b></font>

- 반복해서 사용할 코드를 묶어서 구현해 놓은 것
- 같은 이름의 함수는 덮어씀(오버로딩 불가)
- 함수 정의(구현)
```
    def 함수명([인수1, 인수2, ...]):
        명령어1
        명령어2
        ...
```

# 1절. 함수의 정의 및 사용(호출)

## 1.1 함수정의

In [1]:
def my_hello(x, msg): # 함수 정의
    for i in range(x):
        print(i, msg)

In [2]:
my_hello(5, "쉬는 시간입니다")

0 쉬는 시간입니다
1 쉬는 시간입니다
2 쉬는 시간입니다
3 쉬는 시간입니다
4 쉬는 시간입니다

In [3]:
type(my_hello)

function

In [4]:
def my_hello(x): # 함수 정의
    for i in range(x):
        print("함수는 변수다")

In [5]:
my_hello(5)

함수는 변수다
함수는 변수다
함수는 변수다
함수는 변수다
함수는 변수다

In [7]:
def my_add(num1, num2, num3 = 0): # num3은 기본값을 갖는 인수(꼭 순서인수 뒤에 와야 함)
    return num1 + num2 + num3
print(my_add(1, 2, 3))
print(my_add(1, 2))

6
3

## 1.2 docstring

- 함수 도움말 : shift+tab로 볼 수 있음

In [9]:
def fibonacci(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력합니다.
    ex. 매개변수로 10 : 0, 1, 1, 2, 3, 5, 8
    ex. 매개변수로 5 : 0, 1, 1, 2, 3
    '''
    a, b = 0, 1
    while a < n:
        print(a, end='. ')
        a, b = b, a+b
    print() # 개행

In [10]:
fibonacci(100)

0. 1. 1. 2. 3. 5. 8. 13. 21. 34. 55. 89.

In [11]:
__name__

'__main__'

In [13]:
if __name__ == '__main__':
    fibonacci(100)
    print(__name__, '에서 테스트함')

0. 1. 1. 2. 3. 5. 8. 13. 21. 34. 55. 89.
__main__ 에서 테스트함

In [16]:
import fibonacci as fibo # fibonacci.py가 인터프리터에 의해 해석 돼서 메모리에 로드
fibo.fibonacci(100)

0. 1. 1. 2. 3. 5. 8. 13. 21. 34. 55. 89.

## 1.3 지역변수(local var)와 전역변수(global var)

In [32]:
global_var = 100 # 전역변수
def func1():
    print(global_var)
func1()
print(global_var)

100
100

In [33]:
def func2():
    local_var = 100 # 지역변수
    print(local_var)
func2()
print(local_var)

100

NameError: name 'local_var' is not defined

## 1.4 lexical 특성

In [30]:
g_var = 100 # 전역변수
def func3():
    print(g_var)
    g_var = 200 # 지역변수 선언
    print(g_var)
func3()
print(g_var)

UnboundLocalError: cannot access local variable 'g_var' where it is not associated with a value

## 1.5 전역변수 수정

In [35]:
g_var = 100 # 전역변수
def func3():
    global g_var # 함수 내에서 g_var 전역변수 쓸꺼야
    print(g_var)
    g_var = 200
    print(g_var)
func3()
print(g_var)

100
200
200

## 1.6 값에 의한 호출 (call by value)
- 함수에 인수로 전달되는 변수가 스칼라 변수(숫자, 문자, 논리)일 경우

In [37]:
foo = 'ab' # 스칼라 변수
id(foo)

2614983660208

In [39]:
def func1(f):
    print("before : {} address {}".format(f, id(f)))
    f *= 3 # 매개변수는 지역변수
    print("after : {} address {}".format(f, id(f)))
func1(foo)
print("함수 호출 후 foo : {}의 주소는 {}".format(foo, id(foo)))

before : ab address 2614983660208
after : ababab address 2615118625264
함수 호출 후 foo : ab의 주소는 2614983660208

## 1.7 참조에 의한 호출 (call by reference)
- 함수에 인수로 전달되는 변수가 리스트, 딕셔너리, 셋일 경우

In [41]:
L = [1, 2, 3]
print("L의 내용은 {}, 주소는 {}".format(L, id(L)))

L의 내용은 [1, 2, 3], 주소는 2615119374848

In [43]:
def func2(f):
    print("L의 내용은 {}, 주소는 {}".format(f, id(f)))
    f.append(4)
    print("L의 내용은 {}, 주소는 {}".format(f, id(f)))
func2(L)
print("L의 내용은 {}, 주소는 {}".format(L, id(L)))

L의 내용은 [1, 2, 3], 주소는 2615119374848
L의 내용은 [1, 2, 3, 4], 주소는 2615119374848
L의 내용은 [1, 2, 3, 4], 주소는 2615119374848

# 2절. 함수의 실행 결과를 반환하는 return

- 여러개의 값을 반환할 수 있다.(하나의 튜플로 바뀜)

In [48]:
# 여러개의 값을 return
def swap(a, b):
    return b, a

In [51]:
x, y = 5, 10
print("함수 실행 전 x = {}, y = {}".format(x, y))
x, y = swap(x, y)
print("함수 실행 후 x = {}, y = {}".format(x, y))

함수 실행 전 x = 5, y = 10
함수 실행 후 x = 10, y = 5

# 3절. 함수의 매개변수

## 3.1 기본값을 갖는 매개변수

In [52]:
def make_url(ip, port=80):
    # 순서인수, 기본값을 갖는 인수 순으로
    return "http://{}:{}".format(ip, port)

In [54]:
print(make_url("localhost"))
print(make_url("localhost", 8090))
print(make_url(port = 8090, ip = "localhost", ))

http://localhost:80
http://localhost:8090
http://localhost:8090

## 3.2 튜플 매개변수를 이용한 가변인수(인수 갯수가 가변) 설정

In [56]:
print('hello', 'world') # 인수의 갯수가 가변

hello world

In [59]:
# args 앞에 * : args가 퓨플로 전달 : 튜플매개변수
def add(args):
    print("전달받은 args :", args)
    print(type(args))

In [60]:
add( (1, 2, 3) )

전달받은 args : (1, 2, 3)
<class 'tuple'>

In [65]:
def add(*args):
    # print("전달받은 args :", args)
    # print(type(args))
    sum = 0
    for num in args:
        sum += num
    return sum

In [67]:
print(add( 1, 2, 3 ))
print(add( 1 ))
print(add())

6
1
0

In [68]:
def concat(*args, sep):
    return sep.join(args)

In [70]:
concat("C", "Python", "Oracle", "~")

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [71]:
# 해결책 1
concat("C", "Python", "Oracle", sep = "~")

'C~Python~Oracle'

In [76]:
# 해결책 2 (강추)
def concat(sep, *args): # 순서인수 > 튜플인수
    return sep.join(args)

concat("~", "C", "Python", "Oracle")

'C~Python~Oracle'

In [77]:
# 해결책 3
def concat(*args, sep = '/'): # 순서인수 > 튜플인수 > 키워드인수
    return sep.join(args)

concat( "C", "Python", "Oracle", sep = "~")

'C~Python~Oracle'

## 3.3 딕셔너리 매개변수

In [84]:
def func(**args): # args가 딕셔너리로 전달
    # print(args)
    # print(type(args))
    for key, value in args.items():
        print("{} : {}".format(key, value))

In [81]:
dic = {"name" : "홍길동", "age" : "20"}
func(name = "홍길동", age = 20)

{'name': '홍길동', 'age': 20}
<class 'dict'>

In [85]:
func(gamenumber="survival", year=2024, price=33000)

gamenumber : survival
year : 2024
price : 33000

## 3.4 함수 정의시 매개변수의 순서

- 순서인수 > 튜플인수(*) > 키워드인수(매개변수 이름을 반드시 명시) > 딕셔너리

In [87]:
def func(a, b, c, *d, e=10, **f):
    print('a = ', a)
    print('b = ', b)
    print('c = ', c)
    print('d = ', d)
    print('e = ', e)
    print('f = ', f)

In [88]:
func(10, 20, 30, 1,2,3,4,5, e=100, height=180, name="gildong", address="서울시 금천구")

a =  10
b =  20
c =  30
d =  (1, 2, 3, 4, 5)
e =  100
f =  {'height': 180, 'name': 'gildong', 'address': '서울시 금천구'}

## 3.5 인수의 언패킹

* 튜플 인수 언패킹

In [ ]:
def add(*args):
    # print("전달받은 args :", args)
    # print(type(args))
    sum = 0
    for num in args:
        sum += num
    return sum

In [95]:
data = (1, 2, 3, 4, 5, 6)
add(*data)

21

* 딕셔너리 인수 언패킹

In [99]:
def func(**args): # args가 딕셔너리로 전달
    # print(args)
    # print(type(args))
    for key, value in args.items():
        print("{} : {}".format(key, value))

In [100]:
dic = {"name":"gildong", "age":30}
func(**dic)

name : gildong
age : 30

# 4절. 람다식

- 람다식은 작은 익명함수를 의미함
- 실행할 문장을 한 문장만 작성할 수 있음
- 리스트 컴프리헨션과 같이 참조해서 학습 추천
- ex. map(), filter()에서 사용할 예정

In [101]:
# 일반함수
def add(a, b):
    return a+b
add(3, 5)

8

In [102]:
type(add)

function

In [108]:
# 람다식
add = lambda a, b : a+b
#(lambda a, b : a+b)(5, 5)
add(5, 5)

10

* 매개변수로 람다식 이용

In [109]:
f = lambda x : x**2
f(3)

9

In [111]:
def map_template(func, L=[]):
    result = []
    for data in L:
        result.append(func(data))
    return result

In [113]:
list_data = [1,2,3,4,5]
map_template(lambda x : x**2, list_data)

[1, 4, 9, 16, 25]

In [115]:
list(map(lambda x : x*2, list_data))

[2, 4, 6, 8, 10]

In [116]:
# 리스트 컴프리헨션이용
[x*2 for x in list_data]

[2, 4, 6, 8, 10]

In [118]:
list_data = [1,2,3,4,5]

In [119]:
def filter_template(func, L=[]):
    result = []
    for data in L:
        if func(data):
            result.append(data)
    return result

In [120]:
filter_template(lambda x : x%2 == 0, list_data)

[2, 4]

In [122]:
list(filter(lambda x : x%2==0, list_data))

[2, 4]

In [124]:
# 리스트컴프리헨션 이용
[x for x in list_data if x%2==0]

[2, 4]

# 5절. 파이썬 내장함수

- print처럼 import없이 바로 사용가능한 함수

# 연습문제

In [10]:
# 연습문제 1

In [7]:
# 연습문제 2
import random

def make_lotto():
    lotto = set()
    
    while len(lotto) < 5:
        lotto.add(random.randint(1, 45))
    
    lotto = list(lotto)
    lotto.sort()
    
    return lotto

make_lotto()

[18, 19, 20, 23, 29]

In [13]:
# 연습문제 3-1
def game_369(args):
    L = []
    for data in args:
        # print(data)
        sum = 0
        sum = str(data).count("3") + str(data).count("6") + str(data).count("9")
        
        if sum > 0:
            clap = ''
            for i in range(sum):
                clap += '짝'
            L.append(clap)
        else:
            L.append(data)
     
    return L          
        
game_369([1,2,3,4,5,6,7,8,9,13,20,33])

[1, 2, '짝', 4, 5, '짝', 7, 8, '짝', '짝', 20, '짝짝']

In [9]:
# 연습문제 3-2
def game_369(*args):
    L = []
    for data in args:
        # print(data)
        sum = 0
        sum = str(data).count("3") + str(data).count("6") + str(data).count("9")

        if sum > 0:
            jjaks = []
            for i in range(sum):
                jjaks.append('짝')
            L.append(''.join(jjaks))
        else:
            L.append(data)
     
    return L          
        
game_369(1,2,3,4,5,6,7,8,9,13,20,33)

[1, 2, '짝', 4, 5, '짝', 7, 8, '짝', '짝', 20, '짝짝']