<font size = '7' color = 'red'><b>ch09. 파일 입출력</b></font>

# 1절. 파일에 데이터를 저장하고 불러오기

In [13]:
# w : 있는 파일은 기존의 파일에 덮어쓰고 없는 파일은 생성(쓰기 전용)
# a : 있는 파일은 추가 / 없는 파일은 생성
# r : 읽기 전용
f = open('data/ch09.txt', 'w', encoding='UTF-8')
print(f.writable())

f.write('Hell\nWorld\nHello\nPython\n반갑습니다.\n') #한글은 encoding(default cp949)
f.write('write 여러번 가능\n')
f.close()

True

In [14]:
with open('data/ch09.txt', 'r', encoding='UTF-8') as f:
    data = f.readlines()
    print(data)

['Hell\n', 'World\n', 'Hello\n', 'Python\n', '반갑습니다.\n', 'write 여러번 가능\n']

In [16]:
with open('data/ch09.txt', 'w', encoding='UTF-8') as f:
    print('python is easy\n', file = f)

In [24]:
# UTF-8로 인코딩 된 CSV파일을 read
with open('data/ch09_member1.csv', 'r', encoding='UTF-8') as f:
    data = f.readlines()
    for row in data:
        print(row, end='')

홍길동,20,hong@hong.com,서울 강동구
박길서,27,park@hong.com,서울시 강서구
박길남,31,gilk@hong.com,서울시 강남구
박길북,30,kimk@hong.com,서울시 강북구
신길서,35,gik@hong.com,서울시 강서구
신길동,28,park@hong.com,서울시 강동구

In [37]:
import pandas as pd

member1 = pd.read_csv('data/ch09_member1.csv', header=None)
member1.columns = ['name','age','email','address']
member1

  name  age          email  address
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   27  park@hong.com  서울시 강서구
2  박길남   31  gilk@hong.com  서울시 강남구
3  박길북   30  kimk@hong.com  서울시 강북구
4  신길서   35   gik@hong.com  서울시 강서구
5  신길동   28  park@hong.com  서울시 강동구

In [38]:
member2 = pd.read_csv('data/ch09_member2.csv', nrows=3)
member2

  name  age          email  address
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   27  park@hong.com  서울시 강서구
2  박길남   31  gilk@hong.com  서울시 강남구

In [39]:
member= pd.concat([member1, member2]) # 행병합
member

  name  age          email  address
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   27  park@hong.com  서울시 강서구
2  박길남   31  gilk@hong.com  서울시 강남구
3  박길북   30  kimk@hong.com  서울시 강북구
4  신길서   35   gik@hong.com  서울시 강서구
5  신길동   28  park@hong.com  서울시 강동구
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   27  park@hong.com  서울시 강서구
2  박길남   31  gilk@hong.com  서울시 강남구

In [40]:
member.to_csv('data/ch09_member.csv', index=False)